@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes slideInRight {
  0% {
    transform: translateX(40%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-in {
  animation: slideInRight 0.25s ease-out;
}
@keyframes slideOutRight {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(40%);
    opacity: 0;
  }
}

.animate-slide-out {
  animation: slideOutRight 0.25s ease-out;
}



@keyframes popup {
  0% {
    transform: scale(0.85);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-pop {
  animation: popup 0.25s ease-out;
}
@keyframes popout {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.85);
    opacity: 0;
  }
}

.animate-popout {
  animation: popout 0.25s ease-out;
}